html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 100%;
    margin: 0;
    background: url("../images/uc_bg.jpg") 0 45% no-repeat;
    background-size: cover;
}

.message {
    box-sizing: border-box;
    width: 800px;
    max-width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 100px 10%;
    background: rgba(0,0,0,0.6);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3.5em;
    color: #EAEAEA;
    text-align: center;
    word-wrap: break-word;
}

/*.message:before,*/
/*.message:after {*/
    /*content: '';*/
    /*display: block;*/
    /*width: 95%;*/
    /*height: 10px;*/
    /*margin: 0 auto;*/
    /*background-color: #fff;*/
/*}*/

/*.message:before {*/
    /*margin-bottom: 50px;*/
/*}*/

/*.message:after {*/
    /*margin-top: 50px;*/
/*}*/

.message p {
    margin: 0;
}