extends layout

block content
  div.container
    header.row.clearfix
      div.logo
        div.title Ukrainian Coffee
        div.mission Все про каву українського обжарювання
      nav.global.right(ng-controller='NavigationCtrl')
        a(href='/', ng-hide='isActive("/")') Список
        a(href='/map', ng-hide='isActive("/map")') Карта

    div.content.row(ng-view)

    footer
      //nav.static
        a(href='/about') О проекте
        a(href='/contactus') Написать нам
      div.copyright Зроблено якимись каваманами. Поширення зібраної на сайті інформаціі дає "+1" до карми.
