doctype html
html(ng-app='uc')
  head
    meta(charset='utf-8')
    meta(name='google-site-verification', content='yd6aMeCF5cV4bHnXLJkDKJCaLCFVL2qd2fILBpo4zYg')
    title Ukrainian.coffee - Coming soon

    // Fonts
    link(href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic', rel='stylesheet', type='text/css')

    // Styles
    // build:styles
    link(rel='stylesheet', type='text/css', href='/components/app/base.css')
    link(rel='stylesheet', type='text/css', href='/components/grid/grid.css')
    link(rel='stylesheet', type='text/css', href='/components/grid/item/item.css')
    link(rel='stylesheet', type='text/css', href='/components/map/map.css')
    // endbuild

    // Analytics
    script.
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date();
        a = s.createElement(o), m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src   = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-3814689-12', 'auto');
      ga('send', 'pageview');
  body
    block content

    // Vendor Scripts
    // build:vendorscripts
    script(type='text/javascript', src='/_vendor/angular.js')
    script(type='text/javascript', src='/_vendor/angular-route.js')
    script(type='text/javascript', src='/_vendor/angular-sanitize.js')
    script(type='text/javascript', src='/_vendor/ng-map.js')
    // endbuild

    // Scripts
    // build:scripts
    script(type='text/javascript', src='/components/app/app.js')
    script(type='text/javascript', src='/components/geolocation/geolocationFactory.js')
    script(type='text/javascript', src='/components/navigation/NavigationCtrl.js')
    script(type='text/javascript', src='/components/storage/storage.js')
    script(type='text/javascript', src='/components/coffeepoints/CoffeePointsCtrl.js')
    script(type='text/javascript', src='/components/grid/gridDirective.js')
    script(type='text/javascript', src='/components/grid/item/itemDirective.js')
    script(type='text/javascript', src='/components/map/MapCtrl.js')
    // endbuild

    // Google maps
    script(type='text/javascript', src='//maps.googleapis.com/maps/api/js?key=AIzaSyApKLNSX9cgxcuL0mCF5HcyATQrH5LdITg')
