.grid {
  margin-top: -30px !important;
}

.grid-item:first-child,
.grid-item + .grid-item {
  margin-top: 30px;
}

.item {
  display: table;
  position: relative;
  border: 1px solid;
  padding: 0 5px;
  height: 200px;
  width: 100%;
  color: white;

  &.point {
    background-color: rgba(64, 102, 184, 0.8);
  }

  h1, h2, h3, h4, h5, h6, div, p {
    color: white;
    //font-family: 'Open Sans Condensed', sans-serif;
  }

  h4 {
    margin-bottom: 0;
  }

  .item-header {
    display: table-header-group;
  }

  .item-content {
    text-align: center;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
  }

  .item-footer {
    display: table-footer-group;
  }
}

